{% extends '@MVCore/model_booking.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/css/style_checkOrder.css') }}" type             = "text/css">
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/css/style_date.css') }}" type             = "text/css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2 class="subtitle">{{"Merci de bien vouloir vérifier les informations saisies"|trans}}</h2>
    <div id="date"> {{ date | date('Y-m-d') }}</div>
    <h3>{{ "Date de visite"|trans }}:
        {% if locale == 'fr' %}
            {{ date | date('d-m-Y') }}
        {% endif %}
        {% if locale == 'en' %}
            {{ date | date('Y-m-d') }}
        {% endif %}
    </h3>
    <div id="containResume">
        {% for users in users %}
                <div id="containUsers">
                    <div id="infos">
                        <p class= "user">{{users.Name}} {{users.FirstName}}</p> 
                        <div class="type">{{'Type de Billet'|trans}} : {{users.Ticket | trans}}</div>
                    </div>
                    <div class="cost">{{users.Ticket.cost}}€</div>
                    <form id="deleteUser" action="{{path('mv_booking_deleteuser', {'id': users.id, 'date': date}) }}">
                        <input type="Submit" value="{{'Supprimer'|trans}}">
                    </form>
                </div>
                <hr>
                {% set UserId = users.id %}
        {% endfor %}        
    </div>
    {% if locale == 'fr' %}
        <a id="plus" href="{{path('mv_booking_users', {'date': date, 'nbr': 1}) }}">+</a>
    {% endif %}
    {% if locale == 'en' %}
        <a id="plus" href="{{path('mv_booking_users', {'_locale': 'en', 'date': date, 'nbr': 1}) }}">+</a>
    {% endif %}
    <p id="add">{{ 'Ajouter un visiteur'|trans }}</p>

    {% for message in app.flashes('notice') %}
    <div class="flash-notice"> {{ message | trans }} </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="flash-error"> {{ message | trans }} </div>
    {% endfor %}

    <div class="total" readonly="readonly">Total :  {{total}}€</div>
   
    <a href="{{path('mv_booking_cancel', {'locale': 'fr', 'sessionId': session}) }}" class="cancel">{{'Annuler la commande'|trans}}</a>

    {% set totalAmount = total * 100 %}

    {% if total > 0 %}
        {% if locale == 'fr' %}
        <form id='formfrstripe' action= "" method="POST">
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/mvbooking/js/jquery-ui.min.js') }}"></script>
            <script type="text/javascript"> let total= {{ total }}; let date = {{ date|date('Y-m-d') }} </script>
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_0qgdyYyOrvcIi3Efjdk0L96U"
                data-amount= {{totalAmount}}
                data-name="Louvre"
                data-image="{{ asset('bundles/mvbooking/images/vignette_logo.png') }}"
                data-locale="{{locale}}"
                data-description="{{"Billets pour le musée du Louvre" | trans}}"
                data-currency="EUR"
                data-billing-address="true"
                data-zip-code="true"
                data-allow-remember-me= "false"
                data-label= "{{"Procéder au paiement" | trans}}">
            </script>
            </form>
        {% endif %}
        {% if locale == 'en' %}
            <form id='formenstripe' action= "" method="POST">
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script type="text/javascript" src="{{ asset('bundles/mvbooking/js/jquery-ui.min.js') }}"></script>
                <script type="text/javascript"> var total= {{total}};</script>
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_0qgdyYyOrvcIi3Efjdk0L96U"
                data-amount= {{totalAmount}}
                data-name="Louvre"
                data-image="{{ asset('bundles/mvbooking/images/vignette_logo.png') }}"
                data-locale="{{locale}}"
                data-description="{{"Billets pour le musée du Louvre" | trans}}"
                data-currency="EUR"
                data-billing-address="true"
                data-zip-code="true"
                data-allow-remember-me= "false"
                data-label= "{{"Procéder au paiement" | trans}}">
                </script>
            </form>
        {% endif %}
    {% endif %}

    {% if total == 0 %}
    <form method="post" action="{{ path('mv_booking_mail', {'date': date, 'amount': totalAmount}) }}">
        <label for="email">{{ "Merci de saisir votre email"|trans }}</label><input class="email" name="email" placeholder="email">
        <button class="submit hvr-sweep-to-right" type="submit">{{ "Envoyer"|trans }}</button>
    </form>

    <p id="emailerror">{{ "L'adresse saisie n'est pas une adresse email valide"|trans }}</p>
    {% endif %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('bundles/mvbooking/js/checkOrder.js')}}"></script>
{% endblock %}
