{% extends '@MVCore/model_booking.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/css/style_checkOrder.css') }}" type             = "text/css">
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/css/style_date.css') }}" type             = "text/css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2 class="subtitle">{{"Merci de bien vouloir vérifier les informations saisies"|trans}}</h2>
    
    <div id="containResume">
        {% for users in users %}
                <div id="containUsers">
                    <div id="infos">
                        <p class= "user">{{users.Name}} {{users.FirstName}}</p> 
                        <div class="type">{{'Type de Billet'|trans}} : {{users.Ticket}}</div>
                    </div>
                    <div class="cost">{{users.Ticket.cost}}€</div>
                    <form id="deleteUser" action="{{path('mv_booking_deleteuser', {'id': users.id, 'date': date, 'nbr': nbr}) }}">
                        <input type="Submit" value="{{'Supprimer'|trans}}">
                    </form>
                </div>
                <hr>
                {% set UserId = users.id %}
        {% endfor %}        
    </div>
    {% for message in app.flashes('notice') %}
    <div class="flash-notice"> {{ message }} </div>
    {% endfor %}
    
    <div class="total">Total :  {{total}}€</div>
   
    <a href="" class="cancel">{{'Annuler la commande'|trans}}</a>
   <!--> {% if locale == 'fr' %}
        <a href="" class="nextStep" >{{'Procéder au paiement'|trans}}</a>
    {% endif %}
    {% if locale == 'en' %}
        <a href="" class="nextStepEn" >{{'Procéder au paiement'|trans}}</a>
    {% endif %}-->
    {% set totalAmount = total * 100 %}

    {% if locale == 'fr' %}
    <form id='formfrstripe' action= "" method="POST">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/mvbooking/js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript"> var total= {{total}}; var UserId = UserId</script>
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_0qgdyYyOrvcIi3Efjdk0L96U"
            data-amount= {{totalAmount}}
            data-name="Louvre"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="{{locale}}"
            data-description="{{"Billets pour le musée du Louvre" | trans}}"
            data-currency="EUR"
            data-billing-address="true"
            data-zip-code="true"
            data-allow-remember-me= "false"
            data-label= "{{"Procéder au paiement" | trans}}"
        </script>
        </form>
    {% endif %}
    {% if locale == 'en' %}
        <form id='formenstripe' action= "" method="POST">
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/mvbooking/js/jquery-ui.min.js') }}"></script>
            <script type="text/javascript"> var total= {{total}};</script>
            <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_0qgdyYyOrvcIi3Efjdk0L96U"
            data-amount= {{totalAmount}}
            data-name="Louvre"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="{{locale}}"
            data-description="{{"Billets pour le musée du Louvre" | trans}}"
            data-currency="EUR"
            data-billing-address="true"
            data-zip-code="true"
            data-allow-remember-me= "false"
            data-label= "{{"Procéder au paiement" | trans}}"
            </script>
        </form>
    {% endif %}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('bundles/mvbooking/js/checkOrder.js')}}"></script>
{% endblock %}
