{% extends '@MVCore/model_booking.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/css/style_checkOrder.css') }}" type             = "text/css">
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/css/style_date.css') }}" type             = "text/css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2 class="subtitle">{{"Merci de bien vouloir vérifier les informations saisies"|trans}}</h2>

    {% for users in users %}
   <p>{{users.Name}} {{users.FirstName}} {{'Type de Billet'|trans}} : {{users.Ticket}}</p>
    {% endfor %}
    
    {% if locale == 'fr' %}
        <a href="" class="nextStep" >{{'Étape suivante'|trans}}</a>
    {% endif %}
    {% if locale == 'en' %}
        <a href="" class="nextStepEn" >{{'Étape suivante'|trans}}</a>
    {% endif %}
{% endblock %}