{% extends '@MVCore/model_booking.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/mvbooking/js/jquery-ui.theme.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/mvbooking/js/jquery-ui.structure.min.css') }}" type="text/css">
 <link rel="stylesheet" href="{{ asset('bundles/mvbooking/css/style_date.css') }}" type="text/css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2 class="subtitle">{{"Quand voulez-vous venir ?"|trans}}</h2>
    {% if locale == 'fr' %}
        <form id="datepick">
        <input type="text" id="date">
    {% endif %}

    {% if locale == 'en' %}
        <form id="datepick">
        <input type="text" id="dateen">
    {% endif %}

{% endblock %}

{% block js %}
 {{ parent() }}
 <script type="text/javascript" src="{{asset('bundles/mvbooking/js/datePick.js')}}"></script>
{% endblock %}
