{% extends '@MVCore/model_booking.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mvbooking/js/jquery-ui.theme.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/mvbooking/js/jquery-ui.structure.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/mvbooking/css/style_date.css') }}" type="text/css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2 class="subtitle">{{"Quand voulez-vous venir ?"|trans}}</h2>
    <div id="flex">
        {% if locale == 'fr' %}
            <form id="datepick">
            <input type="text" id="date" readonly="readonly" >
            <input type="date" id="datealt">
            </form>
        {% endif %}

        {% if locale == 'en' %}
            <form id="datepick">
            <input type="text" id="dateen" readonly="readonly" >
            <input type="date" id="datealt" >
            </form>
        {% endif %}

        <div id="load"></div>
        <div id="check">
            <img src= "{{asset('bundles/mvbooking/images/validdate.png')}}" alt="valid" id="valid"/>
            <img src= "{{asset('bundles/mvbooking/images/novaliddate.png')}}" alt="novalid" id="novalid"/>
        </div>
    </div>
    <p id="infoTicket">{{"Plus de ticket disponible pour cette date"|trans}}</p>
    <br>
    <p id="tickets">{{ "Il reste"|trans }} <em id="info"></em> {{ "tickets pour cette date"|trans }}</p>
    <a href="" class="nextStep hvr-sweep-to-right">{{'Étape suivante'|trans}}</a>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('bundles/mvbooking/js/datePick.js')}}"></script>
{% endblock %}
