{% extends '@MVCore/model_booking.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/js/jquery-ui.theme.min.css') }}" type     = "text/css">
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/js/jquery-ui.structure.min.css') }}" type = "text/css">
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/css/style_howMany.css') }}" type             = "text/css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2 class="subtitle">{{"Combien de billets voulez-vous ?"|trans}}</h2>

    <form id="howMany">
        <select name="number" id="number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    
    <a href="" class="nextStep" >Étape suivante</a>
{% endblock %}

{% block js %}
 {{ parent() }}
 <script type="text/javascript" src="{{asset('bundles/mvbooking/js/howManyPick.js')}}"></script>
{% endblock %}

