<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{asset('bundles/mvbooking/css/style_home.css')}} type="text/css">
    <title>Louvre Page Accueil</title>
</head>
<body>
    <header>
       <a href="#"> <img src="http://lorempixel.com/200/50" alt=""></a>
    </header>

    <div id="contain">
        <div>
            <h1 class="title">{{"Bienvenue"|trans}}</h1>
            <h2 class="subtitle">{{"Quelle Langue préférez-vous ?"|trans}}</h2>
        </div>
        <div class="languages">
            <a href=""><img class= "rounded-image" src={{asset('bundles/mvbooking/images/fr.jpg')}} alt="drapeau_français"> <P>Français</p></a>
        </div>
        <div class="languages">
            <a href=""><img class= "rounded-image" src={{asset('bundles/mvbooking/images/en.jpg')}} alt="drapeau_anglais"> <p>Anglais</p></a>
        </div>
        
    <div>

</body>
</html>
