{% extends '@MVCore/model_booking.html.twig' %}

{% block stylesheets %}
 {{ parent() }}
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/css/user.css') }}" type             = "text/css">
<link rel = "stylesheet" href = "{{ asset('bundles/mvbooking/css/style_date.css') }}" type             = "text/css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2 class="subtitle">{{"Merci de bien vouloir renseigner l'identité des visiteurs"|trans}}</h2>
    <h3 class="mention">{{'Pour les tarifs réduits (étudiants, militaires, professeurs,…) un justificatif sera demandé à l’entrée'|trans}}</h3>
    <div id="dateofvisit">{{date}}</div>
    <p class= "user">{{'Vous avez sélectionné'|trans}} : <strong>{{nbr}}</strong> {{'visiteur(s)'|trans}}</p>
    
    <div class="containFormUser">
        {{ form_start(form) }}
        {{ form_errors(form) }}  
        {{ form_end(form) }}   
     </div>

<div class="sessionKey">{{session}}</div>
       
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('bundles/mvbooking/js/howManyPick.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mvbooking/js/user.js')}}"></script>
{% endblock %}