<h2>{{'Merci pour votre commande !'|trans}}</h2>

<img src="{{ absolute_url(asset('bundles/mvbooking/images/logo.jpg')) }}">

<p><b>{{ 'Numéro de commande' | trans }}</b> : {{ session }}</p>
<br>

<u><p><b>{{'Voici le récapitulatif de votre commande'|trans}} :</b></p></u>
{% if locale == 'fr' %}
       <p><b>{{ "Date de visite"|trans }}:</b> {{ date|date('d-m-Y') }}</p>
{% endif %}
{% if locale == 'en' %}
       <p><b>{{ "Date de visite"|trans }}:</b> {{ date }}</p>
{% endif %}

<p><b>{{ "Liste des visiteurs"|trans }} :</b></p>
{% for users in users %}
       <p><b>{{ users.name }} {{ users.firstName }}</b> : {{ users.ticket.type|trans }}</p>
{% endfor %}

{{ "Cet email correspond à votre billet électronique, merci de bien vouloir le présenter à l'entrée du musée." | trans}}

